html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}
input,button{
  width: 100%;
  height: 100%;
  padding: 2px;
  margin: 2px;
}
.modalbox{
  position: absolute;
  left: 20%;
  z-index: 999;
 min-width: 60%;
  border: 1px solid black;
  background-color: aqua;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-center{
  position: relative;
}
code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
